
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<p style="text-align: justify; color: green; font-family: 'Agency FB'; text-transform: capitalize; text-indent: 50px;font-size:15px">NareshIT (Naresh I Technologies) is a leading Software Training Institute and provides Job Guarantee Program through Nacre in Hyderabad, Chennai, Bangalore, Vijayawada and across the world with Online Training services.  Managed and Lead by IT Professionals with more than a decade experience in leading MNC companies. We are most popular for our training approach that enables students to gain real-time exposure on cutting-edge technologies. Naresh I Technologies started satisfying the students who are at remote locations with Online Training program, with an intention to provide services for all those aspirants who want to be part of the software industry. The aspirants who due to various reasons cannot travel physically to our location can just keep themselves registered for this program along with their needs with just a single phone call or a mail provided in our contact’s page. The Online Training program is conducted over the internet using the latest state of the art software tools and via the video and desktop sharing facility. The training program is conducted by well experienced training faculty who are mentored in conducting such sessions as per the convenience of the participant. The Online Training program is provided with required material for reference and on hands exercises and Lab sessions for practical exposure. The students are monitored for any clarifications and doubts by the faculty all through the course either by phone or mail as per the convenience of the participants. Our sole maxim in introducing Online Technical Training Sessions is to cater to the training requirements of the aspirants who due to various reasons cannot travel physically to our location. In the online training program, the training sessions are conducted over the internet using the latest state of the art software tools and the hands-on experience also will be provided at the convenience of the participant. </p>

@section S1{
    <h1>Hello kumar</h1>
    }










