
@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<ul type="square">
    <li>.NET</li>
    <li>Java</li>
    <li>Python</li>
    <li>Hadoop</li>
    <li>DevOps</li>
    <li>Selenium</li>
    <li>Cloud Technologies</li>
    <li>Data Science</li>
    <li>Automation</li>
    <li>Software Testing</li>
    <li>Mobile Technologies</li>
    <li>Digital Marketing</li>
    <li>Spring Boot & Microservices</li>
</ul>
@section S1 {
    <font size="3" color="blue">Experienced faculties with excellent training skills.</font>
}
