
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<p style="text-align: justify; color: palevioletred; font-family: Arial; text-indent: 50px">We have set the pace with online learning. Learn what you want, when you want, and practice with the instructor-led training sessions, on-demand video tutorials which you can watch and listen.</p>
<ol style="color:blueviolet; background-color: darkseagreen">
    <li>150+ Online Courses</li>
    <li>UNLIMITED ACCESS</li>
    <li>EXPERT TRAINERS</li>
    <li>ON-THE-GO-LEARNING</li>
    <li>PASSIONATE TEAM</li>
    <li>TRAINING INSTITUTE OF CHOICE</li>
</ol>
<p style="text-align: justify; color: palevioletred; font-family: Arial; text-indent: 50px">Naresh I Technologies is renowned around the world for classroom training where every aspirant is encouraged to attend technical sessions discussing every facet of the subject with excruciating detail on varied technologies. Every aspirant in the training program will be provided with the hands-on experience through a number of Lab assignments and case studies there by making them more employable.</p>
@section S1 {
    <font size="3" color="blue">Excellence in IT Training since 2003.</font>
}
