
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<table class="table-bordered" align="center">

    <tr><td>Name :</td><td> <input type="text" id="txtName"></td></tr>
    <tr><td>USer Id :</td><td> <input type="text" id="txtUid"></td></tr>
    <tr><td>Password :</td><td> <input type="password" id="txtPwd"></td></tr>
    <tr><td>Confirm Password:</td><td><input type="password" id="txtCPwd" /></td></tr>
    <tr><td>Mobile:</td><td><input type="tel" id="txtMobile" /></td></tr>
    <tr><td>Email Id:</td><td><input type="email" id="txtEmail" /></td></tr>
    <tr>
        <td colspan="2" align="center">
            <input type="submit" id="btnRegister" value="Register" />
            <input type="reset" id="btnReset" value="Reset" />
        </td>

    </tr>

</table>
@section S1 {
    <font size="3" color="blue">Join us for best IT Training.</font>
}

